---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section>
			<h1>Junta de Vecinos Manuel Rodriguez B12</h2>
		</section>

		<section>
			<h2>Noticias</h2>

			<section class="newx">
                <h3>Estatutos de la Junta Directiva Puede leerse <a href="estatutos-01.pdf">AQUI</a></h3>
                <p>El documento legal que rige a la Junta de Vecinos ya se encuentra disponible para su consulta en el siguiente enlace</p>
                <h3><a href="estatutos-01.pdf">ESTATUTOS DE LA JUNTA MANUEL RODRIGUEZ</a></h3>
            
				<h3>Votaciones para la eleccion del Comite Electoral</h3>
        		
				<p>
            		Estimado Vecino,
					<b>Este Domingo 26 de Octubre</b> el mandato de la presente junta directiva concluirá su periodo el Sábado 22 de Noviembre de este año.
					Para poder organizar las respectivas elecciones que definirán la constitución de la junta directiva del ciclo que viene, es necesario constituir un comité electoral que tendrá la responsabilidad de realizar los procesos requeridos por la Municipalidad para conducir el proceso en conformidad con la ley.

					Usted puede presentar su candidatura al comité electoral si tiene por lo menos un año de permanencia como socio o socia de la junta de vecinos. Si es electo queda invalidado para presentar una candidatura aspirando a una posición en la nueva junta. 
					Es necesaria la presencia de por lo menos 75 miembros de la Junta para poder aprobar los resultados de la elección
        		</p>
			</section>
            <footer>
                <p>Contacto: Felipe Palma +56926367048 - Whatsapp y linea clasica</p>
            </footer>
		</section>
        <!--
        <section>
                <h1>Estatuto Junta de Vecinos Manuel Rodriguez Unidad Vecinal N12</h1>

                <h1>Titulo I</h1>
                <h2>Denominacion, Domicilio y Duracion</h2>

                <h3>Articulo 1</h3>
                <p>Constituyese una organizacion comunitaria de caracter territorial regida por las disposciones de la ley N19418
                y la modificacion de la ley N20500 que establece normas sobre Juntas de Vecinos y demas Organizaciones Comunitarias
                denominada <b>JUNTA DE VECINOS MANUEL RODRIGUEZ UNIDAD VECINAL N12B</b>, de la Comuna de La Florida, Provincia de Santiago, Region Metropolitana.</p>

                <h3>Articulo 2</h3>
                <p>Para todos los efectos legales, la <b>JUNTA DE VECINOS MANUEL RODRIGUEZ UNIDAD VECINAL N12B</b> o La Junta de Vecinos o simplemente La Junta; teniendo todos las misma significacion</p>

                <h3>Titulo II</h3>
                <h2>Funciones y Atribuciones</h2>
                <h3>Articulo 3</h3>
                <p>La junta de vecinos Manuel Rodriguez Unidad Vecinal N12B es una Organizacion Comunitaria de caracter territorial representativa de los vecinos que residen
                en la Unidad Vecinal N12 cuyo objeto es promover el desarrollo social y comunitario integral de la comunidad, defender los intereses y velar por los derechos
                de los vecinos y colaborar con las autoridades del Estado y de la Municipalidad de La Florida.</p>

                <h3>Articulo 4</h3>
                <p>La Junta de Vecinos tiene por objeto promover la integracion la participacion y el desarrollo de los habitantes de la unidad vecinal N12</p>
                <br>
                <p>En particular tendras las siguients atribuciones:</p>

                <p>Representar a los vecinos ante cualesquiera autoridad, institucion o personas para celebrar actos, contratos, convenios o gestiones conducentes al desarrollo integral de la unidad vecinal N12</p>
                <br>
                <p>Aportar elementos de juicio y proposiciones que sirvan de base a las decisiones de la Municipalidad de La FLorida</p>
                <br>
                <p>Gestionar la solucion de los asuntos o problemas que afecten a la unidad vecinal, representando las inquietudes e intereses de sus miembros en estas materias, a traves de los mecanismos que la ley establezca</p>
                <br>
                <p>Colaborar con las autoridades de la Municipalidad de La Florida, y en particular con las jefaturas de los servicios publicos, en la satisfaccion y cautela de los intereses y necesidades basicas de la comunidad vecinal</p>
                <br>
                <p>Ejecutar en el ambito de la unidad vecinal, las iniciativas y obras que crea convenientes, previa informacion oportuna a la autoridad, de acuerdo con las leyes, reglamentos y ordenanzas correspondientes.</p>
                <br>
                <p>Ejercer el derecho a una plena informacion sobre los programas y actividades municipales y de servicios publicos que afecten a su comunidad vecinal</p>
                <br>
                <p>Proponer programas y colaborar con las autoridades en las iniciativas tendientes a la proteccion del medio ambiente de la comuna, en especial de su unidad vecinal.</p>
                <br>

                <h3>Articulo 5</h3>
                <p>Para el cumplimiento de sus objetivos, la Junta de Vecinos realizara las siguietnes funciones</p>
                <br>
                <p>Promover la defensa de los derechos constitucionales de las personas, especialmente los derechos humanos, y el desarrollo del espiritu de comunidad, cooperacion y respeto a la diversidad y el pluralismo entre los habitantes de la unidad vecinal N12.</p>
                <br>
                <p>Promover la creacion y el desarrollo de las organizaciones comunitarias funcionales y de las demas instancias contempladas en la ley N19418 para una amplia participacion de los vecinos en el ejercicio de los derechos ciudadanos y el desarrollo de la unidad vecinal N12</p>
                <br>
                <p>Impulsar la integracion a la vida comunitaria de todos los habitantes de la unidad vecinal, en especial de los jovenes</p>
                <br>
                <p>Estimular la capacitacion e informacion de los vecinos en general y de los dirigentes en particular, en materias de organizacion y procedimientos para acceder a los diferentes programas sociales que los beneficien y todos aquellos otros aspectos que considere de interes</p>
                <br>
                <p>Impulsar la creacion y la expresion artistica, cultural y deportiva, y de los espacios de recreacion y encuentro de la comunidad</p>
                <br>
                <p>Propender a la obtencion de los servicios, asesorias, equipamiento y demas medios que necesite para el mejor desarrollo de sus actividades y la solucion de los problemas comunitarios</p>
                <br>

        </section>
        -->
	</main>

	
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 15px;
		gap: 5px;
	}

	

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}


	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
